


		
		body{
			font-family: 'Inconsolata',"Lucida Console","Monaco","DejaVu Sans Mono";
			font-size: 14pt;
			color: black;
			background-color: white;

		} 

		a{
			text-decoration: none;
			color: black;
		}

		a:hover{
			color: royalblue;
		}

		hr{
			border-color: black;
		}

		#home{
			text-decoration: none;
		}

		p, li{
			font-family: 'Inconsolata',"Lucida Console","Monaco","DejaVu Sans Mono";
			font-size: 12pt;
			color: black;

		}